@model Dogily_v2.Models.ViewModel.DetailProVM

@{ 
    var img = Model.ImgList;
}

<div id="carouselImg" class="carousel slide">
    <div class="carousel-inner">
        @foreach (var item in img)
        {
            <div class="carousel-item active">
                <img src="@item.ImgURL" class="d-block w-100 img-fluid rounded">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImg" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImg" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row my-3">
    @foreach (var item in img)
            {
                <div class="col-3">
                    <img src="@item.ImgURL" class="img-fluid rounded" />
                </div>
            }
</div>