@model Dogily_v2.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="col-3">
    <img src="https://dogily.vn/wp-content/uploads/2020/07/dogily-logo.png" alt="Dogily Petshop – Chó mèo cảnh, thú cưng" class="img-fluid rounded" />
</div>
<div class="container" style="text-align: center;">
    <h2 class="text-warning my-3">LOGIN WITH ADMIN ACCOUNT</h2>
</div>

