
@{
    ViewBag.Title = "Shop bán đồ cho chó";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="container col-10">
    <div class="row">
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/2dd05f52f7d3bad5cebdb166cb114e66-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Balo vải phối lưới gấp gọn cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">470,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/67d9de5003115cb67f4d9578a676599d-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/f5b10c973b1cec945043bf45a50de826-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình tròn 89 cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">290,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/14c3cff8342503398ffd12edc8d813a8-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nhà nệm cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">400,000<sup>₫</sup></p>
        </a>
    </div>
    <div class="row">
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/58fb041e5928021e63e40717ddafc32d-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Balo vải phối lưới gấp gọn cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">470,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2023/08/653bb4d910b5a12c7e2fe12ac30c3aab-400x400.jpeg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình cá mập cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">385,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2021/06/photo_11_2023-08-27_17-00-41-400x400.jpg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nệm hình tròn 89 cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">290,000<sup>₫</sup></p>
        </a>
        <a href="/Home/ProductDetail" class="col-3 g-3 footer_link" style="text-align: center">
            <img src="https://dogily.vn/wp-content/uploads/2021/06/photo_7_2023-08-27_17-00-41-400x400.jpg" class="img-fluid rounded" />
            <p align="center" style="margin: 2% 0; font-weight: 600; width: 90%; margin: 2% 5% 0;">
                Nhà nệm cho chó mèo
            </p>
            <p style="font-size: 1.2rem; font-weight: 600; color: #f80000; padding: 0;">400,000<sup>₫</sup></p>
        </a>
    </div>
</div>

